@media screen and (max-width: 414px) {
    header {
        width: 100%;
        min-height: 115px;
        height: 100%;
    }

    .header-menu {
        width: 100%;
        min-height: 115px;
        height: 100%;
    }

    .header-menu > span:not(.burger) {
        display: none;
    }

    .header-menu > a > img {
        display: none;
    }

    .burger {
        visibility: visible;
        position: relative;
        height: -2px;
        color: rgba(87, 70, 58, 1);
        width: 70px;
        left: 260px;
        bottom: 60px;
        position: absolute;
        text-align: center;
    }
    
    .burger::after {
        content: '';
        height: 5px;
        position: absolute;
        background-color: rgba(87, 70, 58, 1);
        ;
        width: 70px;
        text-align: center;
        top: 5px;
        left: -3px;
    }
    
    .burger::before {
        content: '';
        height: 5px;
        position: absolute;
        background-color: rgba(87, 70, 58, 1);
        width: 70px;
        left: -3px;
        bottom: 5px;
    }

    .burger-menu {
        visibility: visible;
        display: flex;
    }

    .main {
        border-top: none;
        border-bottom: none;
    }

    .main-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        
    }

    .main-section-text-span {
        max-width: 200px;
        width: 100%;
        padding: 0px;
    }

    .main-section-text {
        padding-left: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 548px;
        height: 100%;
        justify-content: flex-start;
    }


    .main-section-text-title {
        max-width: 375px;
        width: 100%;
        /* min-height: 76px;
        height: 100%; */
        padding-left: 0px;
        font-family: 'Tenor Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
    }

    .main-section-text-span2 {
        max-width: 311px;
        width: 100%;
        padding-left: 0;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        padding-bottom: 21px;
    }

    .main-section-text-button {
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .main-section-text-icons {
        justify-content: flex-start;
        padding-top: 77px;
    }

    .main-section-img > img {
        width: 100%;
        height: 415px;
    }

    /* .whatit-main-title > h2 {
        
    } */

    .whatit-main-paragraf {
        flex-wrap: wrap;
        max-width: 300px;
        width: 100%;
    }

    .whatit-main-paragraf-text1, .whatit-main-paragraf-text2, .whatit-main-paragraf-text3 {
        padding-bottom: 10px;
    }

    .whatit-main {
        margin-left: 35px;
    }

    .weproduce-table > div {
        max-width: 150px;
        width: 100%;
        min-height: 204px;
        height: 100%;
    }

    .family-discription {
        flex-wrap: wrap;
    }

    .family-discription > div > img {
        width: 100%;
        height: 100%;
    }

    /* .family-discription > div */

    .weproduce-title > h2 {
        font-size: 38px;
        text-align: center;
    }

    .chair {
        border-left: 1px solid black;
    }

    .drawer {
        border-bottom: none;
    }

    .gate {
        border-bottom: none;
    }

    .room-divider {
        border-left: 1px solid black;
    }

    .family-title {
        margin-left: 35px;
        max-width: 343px;
        width: 100%;
        padding-bottom: 60px;
        padding-top: 90px;
    }

    .family-title > h2 {
        font-size: 32px;
    }

    .family-discription > div:nth-child(2) > h3 {
        padding-top: 30px;
        padding-bottom: 4px ;
    }

    .family-discription > div:nth-child(2) {
        padding-left: 30px;
    }

    .family-discription > div:nth-child(2) > p:nth-child(2) {
        max-width: 320px;
        width: 100%;
    }

    .video-title {
        padding-top: 90px;
    }

    .video-title > h2 {
        font-size: 32px;
        padding-left: 30px;
        max-width: 259px;
        width: 100%;
    }

    .video-title > img {
        width: 100%;
        height: 226px;
    }

    .video-title > i {
        top: 380px;
        left: 175px;
    }

    .servisec-container-first {
        /* flex-wrap: wrap; */
        flex-direction: column;
    }

    .servisec-container-first > div:nth-child(2) {
        padding-left: 30px;
    }

    .servisec-container-first > div:nth-child(2) > h3 {
        font-size: 24px;
        padding-top: 60px;
    }

    .servisec-container-first > div:nth-child(2) > p {
        max-width: 294px;
        width: 100%;
    }

    .servisec-container-first > div:nth-child(2) > button {
        margin-bottom: 115px;
    }

    .servises-pic1, .servises-pic2 {
        width: 100%;
        height: 279px;
    }

    .servisec-container-second {
        flex-direction: column;
    }

    .servisec-container-second > div:nth-child(2) {
        padding-left: 30px;
    }

    .servisec-container-second > div:nth-child(2) > h3 {
        font-size: 24px;
        padding-top: 60px;
    }

    .servisec-container-second > div:nth-child(2) > p {
        max-width: 297px;
        width: 100%;
    }

    .servisec-container-second > div:nth-child(2) > button {
        margin-bottom: 64px;
    }

    .servisec-title > h2 {
        font-size: 32px;
        padding-left: 30px;
    }

    .quality {
        position: relative;
        padding: 0;
        margin-top: 350px;
        padding-bottom: 204px;
    }

    .quality-gramma {
        max-width: 275px;
        width: 100%;
        min-height: 401px;
        height: 100%;
        position: relative;
    }

    .quality-gramma > h2 {
        position: absolute;
        font-size: 32px;
        top: -260px;
        padding-top: 0px;
        text-align: start;
        max-width: 348px;
        width: 100%;
    }

    .quality-gramma > p {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50px;
        max-width: 240px;
    }

    .quality-gramma > img {
        width: 69px;
        height: 68px;
        position: absolute;
        left: 200px;
    }

    footer {
        max-width: 400px;
        width: 100%;
        min-height: 775px;
        height: 100%;
    }

    .footer-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        padding-left: 35px;
        padding-top: 40px;
    }

    .link1{
        gap: 9px;
        margin-bottom: 53px;
    }

    .link2 {
        gap: 9px;
        margin-bottom: 9px;
    }

    .link3 {
        margin-top: 100px;
        margin-bottom: 70px;
    }

    .bluewood {
        background: url(img/master/bluewood.png) no-repeat center;
    }

    .bluewood > h1 {
        max-width: 325px;
        width: 100%;
        font-size: 32px;
        padding: 150px 20px 40px 30px;
    }

    .ourworks {
        margin-top: 77px;
    }

    .ourworks > div:nth-child(1) > h2 {
        font-size: 32px;
        padding-left: 38px;
    }

    .ourworks > div:nth-child(2) > div > img {
        width: 139px;
        height: 161px;
    }

    .ourworks > div:nth-child(2) {
        padding-left: 38px;
        gap: 22px;
    }

    .exampless {
        padding: 18px 30px;
    }

    .exampless-button {
        margin-bottom: 86px;
    }

    .technics-title > h2 {
        font-size: 32px;
        padding-left: 38px;
    }

    .spantext {
        gap: 0px;
        max-width: 210px;
        width: 100%;
        min-height: 670px;
        height: 100%;
        justify-content: space-between;
        
    }

    .technics {
        margin-left: 20px;
    }

    .spantext > span:nth-child(3) {
        margin: 10px 0 0px 0;
    }

    .spantext > span:nth-child(2) {
        margin: 18px 0 0 0;
    }

    .spantext > span:nth-child(7) {
        margin-bottom: 10px;
    }

    .second-life {
        margin-top: 112px;
    }

    .second-life > h3 {
        padding: 126px 10px;
        font-size: 32px;
    }

    .restoration {
        margin-top: 90px;
    }

    .restoration > div:nth-child(1) > h2 {
        font-size: 32px;
    }

    .restoration > div:nth-child(1) {
        margin-left: 38px;
    }
    
    .restoration-things {
        /* flex-wrap: wrap; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }

    .restoration-things > div:nth-child(1) > img {
        width: 148px;
        height: 182px;
    }

    .restoration-things > div:nth-child(2) > img {
        width: 156px;
        height: 127px;
    }

    .restoration-things > div:nth-child(3) > img {
        width: 160px;
        height: 134px;
    }

    .restoration-things > div:nth-child(4) > img {
        width: 149px;
        height: 181px;
    }

    .restoration-things > div:nth-child(5) > img {
        width: 161px;
        height: 146px;
    }

    .restoration-things > div:nth-child(6) > img {
        width: 123px;
        height: 152px;
    }

    .restoration-things > div:nth-child(7) > img {
        width: 119px;
        height: 147px;
    }

    .restoration-things > div:nth-child(8) > img {
        width: 113px;
        height: 136px;
    }

    .business-title > h2 {
        font-size: 32px;
    }

    .business-title {
        margin-left: 30px;
    }

    .business-master {
        flex-wrap: wrap;
    }
    
    .business-master > div:nth-child(1) > img {
        width: 300px;
        height: 300px;
    }

    .business-master > div:nth-child(1) {
        margin-left: 38px;
    }

    .business-master > div:nth-child(2) > img {
        width: 300px;
        height: 300px;
    }

    .business-master > div:nth-child(2) {
        margin-left: 38px;
    }

    .leadership {
        margin-top: 98px;
        padding-bottom: 142px;
    }

    .leadership-wrapper {
        /* flex-wrap: wrap; */
        flex-direction: column;
        position: relative;
    }

    .leadership-wrapper > div:nth-child(1) {
        margin-left: 38px;
    }

    .leadership-wrapper > div:nth-child(1) > h2 {
        margin-bottom: 500px;
        font-size: 32px;
        margin-right: 30px;
    }

    .leadership-wrapper > div:nth-child(1) > p {
        max-width: 325px;
        width: 100%;
    }

    .leadership-wrapper > div:nth-child(2) > img {
        position: absolute;
        top: 210px;
        left: 38px;
        width: 300px;
        height: 475px;
    }

    .brake {
        display: inline-block;
    }

    .to-order-text > h1 {
        font-size: 32px;
    }

    .to-order-text > span {
        padding-top: 127px;
        padding-bottom: 30px;
        max-width: 300px;
        width: 100%;
    }

    .to-order-text > h1:nth-child(3) {
        justify-content: start;
    }

    .to-order-text {
        margin-left: 33px;
    }

    .to-order-text > div > button {
        padding: 18px 78px;
    }

    .to-order-text > div {
        margin: 60px 0px 0 0px;
        max-width: 300px;
        width: 100%;
    }

    .why-us-title {
        margin-top: 110px;
        margin-bottom: 60px;
        margin-left: 38px;
    }

    .why-us-title > h2 {
        font-size: 32px;
    }

    .portfolio-title {
        margin-top: 90px;
        margin-bottom: 60px;
        margin-left: 38px;
    }

    .portfolio-title > h2 {
        font-size: 32px;
    }

    .portfolio-pic {
        margin-left: 38px;
    }

    .portfolio-pic > img {
        width: 300px;
        height: 254px;
    }

    .portfolio-pic > div > img {
        display: none;
    }

    .stages-title {
        margin-top: 90px;
        margin-bottom: 60px;
        margin-left: 50px;
    }

    .stages-title > h2 {
        font-size: 32px;
    }

    .why-us-table {
        grid-template-columns: 1fr;
        margin-left: 38px;
    }

    .stages-table {
        grid-template-columns: 1fr;
        padding: 0px 38px 0 37px;
    }

    .stages-table > div > span:nth-child(1) {
        font-size: 38px;
    }

    .stages-table > div > span:nth-child(2) {
        padding-left: 21px;
        padding-bottom: 20px;
    }

    .stages-table > div:nth-child(1) {
        border-right: 1px solid black;
    }

    .stages-table > div:nth-child(2) {
        border-right: 1px solid black;
    }

    .stages-table > div:nth-child(4) {
        border-right: 1px solid black;
        border-bottom: none;
    }

    .stages-table > div:nth-child(5) {
        border-right: 1px solid black;
        border-bottom: none;
    }

    .about-us-title > h2 {
        font-size: 32px;
    }

    .about-us-title {
        margin-top: 90px;
        margin-bottom: 60px;
        margin-left: 38px;
    }

    .about-us-pic > img:not(.about1) {
        display: none;
    }

    .about1 {
        margin: 0 70px 0 75px;
    }

    .contact-with-title {
        margin-top: 90px;
        margin-left: 38px;
        margin-right: 50px;
    }

    .contact-with-title > h2 {
        font-size: 32px;
        max-width: 287px;
        width: 100%;
    }

    .contact-with-button > button {
        max-width: 300px;
        width: 100%;        
    }

    .contact-with-button {
        margin-right: 65px;
        margin-top: 60px;
    }

    .history {
        border-top: 1px solid transparent;
    }

    .history-content {
        margin-top: 60px;
    }

    .history-title > h2 {
        font-size: 32px;
        max-width: 350px;
        width: 100%;
        /* min-height: 96px;
        height: 100%; */
        padding-left: 36px;
        text-align: start;
    }

    .history-title > img {
        width: 375px;
        height: 100%;
    }

    .achievements-content {
        grid-template-columns: 1fr;
        text-align: start;
        margin-left: 38px;
        gap: 60px;
    }

    .achievements-content > div:nth-child(3) > span {
        max-width: 300px;
        width: 100%;
        min-height: 48px;
        height: 100%;
    }

    .restavration-brake {
        display: inline-block;
    }

    .achievements {
        margin-top: 72px;
    }

    .founder {
        margin-top: 90px;
    }

    .founder-content {
        flex-wrap: wrap;
    }

    .founder-content > div:nth-child(1) > img {
        width: 100%;
        height: 100%;
    }

    .founder-text {
        margin-left: 38px;
        margin-right: 37px;
    }

    .founder-text > p:nth-child(3) {
        max-width: 300px;
        width: 100%;
    }

    .philosophy {
        margin-top: 90px;
    }

    .philosophy-title > h2 {
        font-size: 32px;
    }

    .philosophy-title {
        margin-left: 38px;
    }

    .philosophy-text > p {
        font-size: 16px;
    }

    .philosophy-text {
        margin-right: 15px;
    }

    .news {
        margin-top: 128px;
    }

    .news-title {
        margin-left: 38px;
    }

    .news-title > h2 {
        font-size: 32px;
    }

    .news-pic > img:not(.smi1) {
        display: none;
    }

    .news-pic {
        margin-top: 60px;
    }

    .sparrov1 {
        display: none;
    }

    .sparrov2 {
        top: 58%;
        width: 15px;
        height: 15px;
        left: 90%;
    }

    .sparrov3 {
        visibility: visible;
        left: 85%;
        top: 435%;
    }
}    